In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
import pandas as pd

In [9]:
bike_df = pd.read_csv('https://raw.githubusercontent.com/lilabboc/Pandas-Filtering/main/RailsToTrails_National%20Count%20Data_week.csv')
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,6-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
bike_df.drop(columns = ['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'], inplace = True)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,6-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
bike_df.rename(columns = {'Unnamed: 6': 'percent_change'}, inplace = True)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,6-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
bike_df.isnull().sum()

Timeframe                     945
Week of                       945
 2019 counts (31 counters)    945
 2020 counts (31 counters)    945
2021 Counts                   997
Change 2019-2020              945
percent_change                945
Unnamed: 10                   997
Unnamed: 11                   997
Unnamed: 12                   997
Unnamed: 13                   997
Unnamed: 14                   997
Unnamed: 15                   997
Unnamed: 16                   997
Unnamed: 17                   997
Unnamed: 18                   997
Unnamed: 19                   997
Unnamed: 20                   997
Unnamed: 21                   997
Unnamed: 22                   997
Unnamed: 23                   997
dtype: int64

In [13]:
bike_df.fillna(value = 0, inplace = True)
bike_df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,0.0,9%,1.094627,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Week 2,6-Jan,82340.0,97140.0,0.0,18%,117.974253,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Week 3,13-Jan,62315.0,75782.0,0.0,22%,121.611169,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Week 4,20-Jan,75801.0,83809.0,0.0,11%,110.564504,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Week 5,27-Jan,75841.0,94738.0,0.0,25%,124.916602,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
bike_df.columns

Index(['Timeframe', 'Week of', ' 2019 counts (31 counters)',
       ' 2020 counts (31 counters)', '2021 Counts', 'Change 2019-2020',
       'percent_change', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [15]:
bike_df = bike_df.rename(columns={' 2019 counts (31 counters)': 'counts_2019'})